$font-primmary: 'Poppins', sans-serif;
$theme-color: (
    "primary":#fdfdf7,
    "primary-hover":rgb(244, 245, 240),
    "dark":rgb(128, 109, 0),
    "text_color":white,

);
$color-btn: #ef1515;
$color-nav: #5307ce;
$color-inside: rgba(57, 57, 57, 0.049);