$font-primmary: 'Poppins', sans-serif;
$theme-color: (
    "primary":#359feb,
    "primary-hover":rgb(219, 234, 9),
    "dark":rgb(11, 9, 2),
    "text_color":white,

);
$color-btn: #ef1515;
$color-navfooter: #23bf70;
$color-inside: rgba(57, 57, 57, 0.049);
$btn-color: rgb(18, 19, 22);
$form-color: #4f504d66;
$btn-hover: black;