@use "../abstract/function" as func;
@use "../abstract/variable" as var;

// .main-card {
//     display: flex;
//     flex-wrap: wrap;
//     list-style: none;

// }

// .card {

//     background-color: rgb(204, 255, 0);
//     width: 200px;
//     height: 200px;
//     border-radius: 0.3rem;

//     margin: 30px;
// }
.card {
    -webkit-box-shadow: -1px -1px 11px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px -1px 11px 3px rgba(0, 0, 0, 0.75);
    box-shadow: -1px -1px 11px 3px rgba(0, 0, 0, 0.75);

}