{% block content %}
<!-- ========== Start footer ========== -->
<footer class="space-y-2">

    <div>
        <h2>Harishkumar</h2>
        <p>An initiative by <a href="#">Hari Tech Yt</a></p>
    </div>
    <div class="social-icons">
        <a href="https://github.com/HARISHKUMAR023" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="https://stackoverflow.com/users/17127552/harishkumar-n" target="_blank"><i
                class="fa-brands fa-stack-overflow"></i></a>
        <a href="https://www.linkedin.com/in/harishkumar023/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://www.youtube.com/channel/UCT0qh0BK9kGe2atm0ea2UZQ" target="_blank"><i
                class="fa-brands fa-youtube"></i></a>
    </div>
    <div class="legel">
        <p>&copy; 2023-All rights reserved</p>
    </div>
</footer>

<!-- ========== End footer ========== -->
{% endblock %}