{% extends 'base.html' %}


{% block content %}
<div class="main-area">
	<div class="main-area_content">
		<div class="main-area_content-text">
			<h1> SHOP US</h1>
			<p>"Always deliver more than expected"
			</p>
			<p class="find">Find us Here - <span><i class="icon fa-brands fa-instagram"></i></span>
				<i class=" icon fa-brands fa-linkedin"></i>
				<i class=" icon fa-brands fa-twitter"></i>
				<i class=" icon fa-brands fa-facebook"></i>

			</p>
		</div>

		<div class="main-area-images">
			<img class="main-area-images-img" src="../static/assets/images/products/ecommerce-website.png" alt="">
		</div>
	</div>

	<div class="custom-shape-divider-bottom-1677564777">
		<svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
			<path
				d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
				opacity=".25" class="shape-fill"></path>
			<path
				d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
				opacity=".5" class="shape-fill"></path>
			<path
				d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
				class="shape-fill"></path>
		</svg>
	</div>
</div>

<style>
	.custom-shape-divider-bottom-1677564777 {
		position: relative;
		bottom: 0;
		left: 0;
		width: 100%;
		overflow: hidden;
		line-height: 0;
		transform: rotate(180deg);
	}

	.custom-shape-divider-bottom-1677564777 svg {
		position: relative;
		display: block;
		width: calc(109% + 1.3px);
		height: 106px;
		transform: rotateY(180deg);
	}

	.custom-shape-divider-bottom-1677564777 .shape-fill {
		fill: #FFFFFF;
	}
</style>

{% load cart %}
{% load custom_filter %}
<!-- body -->
<div class="container-fluid mt-3">
	<div class="row">


		<!-- filter -->

		<div class="col-lg-3 mx-auto">
			<div class="list-group">

				<a href="/" class="list-group-item list-group-item-action btn btn-outline-success">All Products</a>

				{% for category in categories %}
				<a href="/?category={{category.id}}"
					class="list-group-item list-group-item-action btn btn-outline-success ">{{category.name}}</a>
				{% endfor %}
			</div>
		</div>

		<!-- all products -->
		<div id='products' class="col-lg-9 mx-auto">
			<div class="row mx-auto">
				{% for product in products %}
				<div class="card mx-auto mb-3" id={{product.id}} style="width: 18rem;">
					<img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
					<div class="card-body">
						<p class="card-title">{{product.name}}</p>
						<p class="card-text"><b>{{product.price|currency}}</b></p>
						<!-- {{product | is_in_cart:request.session.cart }} -->
					</div>

					<div class="card-footer p-0 no-gutters">

						{% if product|is_in_cart:request.session.cart %}
						<div class="row no-gutters">
							<form action="/#{{product.id}}" class="col-2 " method="post">
								{% csrf_token %}
								<input hidden type="text" name='product' value='{{product.id}}'>
								<input hidden type="text" name='remove' value='True'>
								<input type="submit" value=" - " class="btn btn-block btn-success border-right">
							</form>
							<div class="text-center col btn btn-success">
								{{product|cart_quantity:request.session.cart}}
								in Cart</div>
							<form action="/#{{product.id}}" class="col-2 " method="post">
								{% csrf_token %}
								<input hidden type="text" name='product' value='{{product.id}}'>
								<input type="submit" value=" + " class="btn btn-block btn-success border-left">
							</form>
						</div>
						{% else %}
						<form action="/#{{product.id}}" method="POST" class="btn-block">
							{% csrf_token %}
							<input hidden type="text" name='product' value='{{product.id}}'>
							<input type="submit" class="float-right btn btn-primary " value="Add To Cart">
						</form>
						{% endif %}

					</div>

				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<div class="about-area">
	<h3>About us</h3>
	<p>Welcome to my PolarDB Hackathon project page!
		My name is Harishkumar N , and I am a passionate
		individual who has dedicated myself to creating
		a project that I believe will make
		a difference in the PolarDB Hackathon community

	</p>
</div>


<!-- ========== Start contact ========== -->
<div class="main-contact">



	<div class=" main-contact container mt-4">
		<h1 class="main-contact-text" style="margin-top: 20px;">Contact Us</h1>
		<div class=" d-text p-3 m-3">


			<div class="col-lg-5 my-form rounded mx-auto border pt-4">
				<div class="text-center col">

					<img class="img-c" src="../static/assets/images/products/pngaaa.com-4605891.png" alt="" class=""
						style="height: 180px;">
					<!-- <hr> -->
					<hr>
				</div>
				<!-- <h3 class="alert alert-success rounded-pill" style="text-align:center">Create an Account</h3> -->
				<form action="" method="POST">

					{% csrf_token %}

					{% if error%}
					<div class="alert alert-danger" role="alert">
						{{error}}
					</div>
					{% endif %}
					<!-- firstname -->
					<div class="form-group">
						<label for="">First Name</label>
						<input type="text" name="firstname" id="" value="{{values.first_name}}"
							class="form-control form-control-sm" placeholder="">
					</div>

					<!-- last name -->
					<div class="form-group">
						<label for="">Last Name</label>
						<input type="text" name="lastname" id="" value="{{values.last_name}}"
							class="form-control form-control-sm">
					</div>

					<!-- phone -->
					<div class="form-group">
						<label for="">Phone</label>
						<input type="text" name="phone" id="" class="form-control form-control-sm"
							value="{{values.phone}}" placeholder="Enter your number">
					</div>
					<!-- email -->
					<div class="form-group">
						<label for="">Email</label>
						<input required type="email" name="email" id="" value="{{values.email}}"
							class=" form-control-sm form-control" placeholder="abc@gmail.com">
					</div>


					<!-- text area -->
					<div class="form-group">
						<label for="">meassage</label>
						<textarea class="form-control-sm form-control" name="text" id="" cols="30" rows="10"></textarea>
					</div>



					<hr>
					<button type="submit" class="btn btn-sm btn-success col-lg-12">Contact US</button>

				</form>
			</div>
		</div>
	</div>
</div>


<!-- ========== End contact ========== -->


{% endblock %}
{% block footer %}
{% include 'footer.html' %}
{% endblock %}